node_modules
bun.lock
package-lock.json
bunfig.toml

.DS_Store
.cache
.env
.vercel
.output
.nitro
.tanstack
.source

# Build output
dist/
/build/
/api/
/server/build
/public/build

# Generated route tree
src/routeTree.gen.ts
